<div class="card mb-3">
  <h5 class="card-header">
    Featured Image
  </h5>
  <div class="card-body">
    <div class="row" [hidden]="form.controls['post_image'].value">
      <div class="col-sm-12 text-center pt-5 pb-5">
        <input type="file" #featuredImageInput hidden (change)="onFileChanged($event)">
        <button href="#" class="btn btn-outline-primary" (click)="featuredImageInput.click()">Set featured image</button>
      </div>
    </div>
    <div class="row" [hidden]="!form.controls['post_image'].value">
      <div class="col-sm-12">
        <button class="btn btn-danger featured-image-remove" (click)="removeImage()">Remove</button>
        <img [src]="post_image" alt="">
      </div>
    </div>
  </div>
</div>
