<div class="card text-left mb-5">
  <h5 class="card-header">
    Categories
    <a href="#" class="btn btn-outline-primary btn-sm ml-3" routerLink="/categories/create">Add new</a>
  </h5>
  <table class="table table-striped mb-0">
    <thead>
    <tr>
      <td>#</td>
      <td>Title</td>
      <td>Categories</td>
      <td>Tags</td>
      <td>Date</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts">
      <td>{{post.id}}</td>
      <td>
        <a [routerLink]="['/categories', post.id, 'edit']">{{post.post_title}}</a>
      </td>
      <td></td>
      <td></td>
      <td>{{post.created_at | amDateFormat:'LL'}}</td>
    </tr>
    </tbody>
  </table>

</div>
<div class="row">
  <div class="col-sm-12">
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="total_posts" [(page)]="current_page" [pageSize]="page_limit"
                    (pageChange)="loadPosts()"></ngb-pagination>
  </div>
</div>
