<form class="row" [formGroup]="form">
  <div class="col-sm-12 col-md-12 col-lg-8 col-xl-9">
    <div class="card mb-3">
      <h5 class="card-header">
        Add New Post
      </h5>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <input type="text" formControlName="post_title" class="form-control form-control-lg"
                     [ngClass]="{'is-invalid':!form.controls['post_title'].valid}"
                     placeholder="Enter title here">
              <div class="invalid-feedback" *ngFor="let error of form.controls['post_title'].errors">{{error}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p *ngIf="!permalinkEditable"><b>Permalink:</b>&nbsp;<a href="{{currentUrl}}/{{form.controls['post_alias'].value}}" target="_blank">{{currentUrl}}/{{form.controls['post_alias'].value}}</a>
              &nbsp;
              <button class="btn btn-outline-secondary btn-sm" (click)="permalinkEditable = true">Edit</button>
            </p>
            <div class="input-group mb-3" *ngIf="permalinkEditable">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">{{currentUrl}}/</span>
              </div>
              <input type="text" class="form-control" formControlName="post_alias"
                     [ngClass]="{'is-invalid':!form.controls['post_alias'].valid}">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="permalinkEditable = false">OK</button>
              </div>
              <div class="invalid-feedback" *ngFor="let error of form.controls['post_alias'].errors">{{error}}</div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <simplemde formControlName="post_content"></simplemde>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
    <div class="card mb-3">
      <h5 class="card-header">
        Publish
      </h5>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-6">
            <button class="btn btn-outline-secondary btn-block" (click)="update(form, 'draft')">Save Draft</button>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-outline-secondary btn-block">Preview</button>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <button class="btn btn-primary btn-block" (click)="update(form, 'published')">Publish</button>
          </div>
        </div>
      </div>
    </div>
    <!--Categories-->
    <app-categories-widget></app-categories-widget>
    <!--Tags-->
    <app-tags-widget></app-tags-widget>
    <!--Image-->
    <app-featured-image-widget></app-featured-image-widget>
  </div>
</form>
