<form class="row" [formGroup]="form">
  <div class="col-sm-12 col-md-12 col-lg-8 col-xl-9">
    <div class="card mb-3">
      <h5 class="card-header">
        Add New Post
      </h5>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <input type="text" formControlName="title" class="form-control form-control-lg"
                     placeholder="Enter title here">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p><b>Permalink:</b>&nbsp;<a href="#">https://example.com/users/hello</a>&nbsp;<a href="#"
                                                                                              class="btn btn-outline-secondary btn-sm">Edit</a>
            </p>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
              </div>
              <input type="text" class="form-control" formControlName="alias">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">OK</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <simplemde formControlName="content"></simplemde>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
    <div class="card mb-3">
      <h5 class="card-header">
        Publish
      </h5>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-6">
            <button class="btn btn-outline-secondary btn-block" (click)="save(form, 'draft')">Save Draft</button>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-outline-secondary btn-block">Preview</button>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <button class="btn btn-primary btn-block" (click)="save(form, 'published')">Publish</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <h5 class="card-header">
        Categories
      </h5>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <ul class="list-style-none">
              <li>
                <span><input type="checkbox"> Category 1 <b>(primary)</b></span>
              </li>
              <li>
                <span><input type="checkbox"> Category 2</span>
                <ul>
                  <li>
                    <span><input type="checkbox"> Sub Category 1</span>
                  </li>
                  <li>
                    <span><input type="checkbox"> Sub Category 2</span>
                  </li>
                  <li>
                    <span><input type="checkbox"> Sub Category 3</span>
                  </li>
                </ul>
              </li>
              <li>
                <span><input type="checkbox"> Category 3</span>
              </li>
              <li>
                <span><input type="checkbox"> Category 4</span>
              </li>
              <li>
                <span><input type="checkbox"> Category 5</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <h5 class="card-header">
        Tags
      </h5>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-7">
            <input type="text" class="form-control">
          </div>
          <div class="col-sm-5">
            <button class="btn btn-outline-secondary btn-block">Add</button>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12">
            <span class="tag-inline">Tag 1&nbsp;&nbsp;<i class="fas fa-times-circle"></i></span>
            <span class="tag-inline">Tag 2&nbsp;&nbsp;<i class="fas fa-times-circle"></i></span>
            <span class="tag-inline">Tag 3&nbsp;&nbsp;<i class="fas fa-times-circle"></i></span>
            <span class="tag-inline">Tag 4&nbsp;&nbsp;<i class="fas fa-times-circle"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <h5 class="card-header">
        Featured Image
      </h5>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 text-center pt-5 pb-5">
            <a href="#" class="btn btn-outline-primary">Set featured image</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
