<div class="card mb-3">
  <h5 class="card-header">
    Featured Image
  </h5>
  <div class="card-body">
    <div class="row" *ngIf="!image">
      <div class="col-sm-12 text-center pt-5 pb-5">
        <input type="file" #featuredImageInput hidden (change)="upload($event)">
        <button href="#" class="btn btn-outline-primary" (click)="featuredImageInput.click()">Set featured image</button>
      </div>
    </div>
    <div class="row" *ngIf="image">
      <div class="col-sm-12">
        <!--<button class="btn btn-danger featured-image-remove" (click)="remove()">Remove</button>-->
        <i class="fas fa-times-circle featured-image-remove" (click)="remove()"></i>
        <img [src]="image.image_path" alt="">
      </div>
    </div>
  </div>
</div>
