<div class="card mb-3">
  <h5 class="card-header">
    Categories
  </h5>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <app-categories-recursive [categories]="categories" [form]="form"></app-categories-recursive>
        <div class="text-danger" *ngFor="let error of form.controls['default_category'].errors">{{error}}</div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <ngb-pagination
      class="d-flex justify-content-center"
      [collectionSize]="total_categories"
      [(page)]="current_page"
      [pageSize]="page_limit"
      (pageChange)="load()"
      [maxSize]="3"
    >
    </ngb-pagination>
  </div>
</div>
