<div class="card mb-3">
  <h5 class="card-header">
    Categories
  </h5>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-style-none">
          <li>
            <span><input type="checkbox"> Category 1 <b>(primary)</b></span>
          </li>
          <li>
            <span><input type="checkbox"> Category 2</span>
            <ul>
              <li>
                <span><input type="checkbox"> Sub Category 1</span>
              </li>
              <li>
                <span><input type="checkbox"> Sub Category 2</span>
              </li>
              <li>
                <span><input type="checkbox"> Sub Category 3</span>
              </li>
            </ul>
          </li>
          <li>
            <span><input type="checkbox"> Category 3</span>
          </li>
          <li>
            <span><input type="checkbox"> Category 4</span>
          </li>
          <li>
            <span><input type="checkbox"> Category 5</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
