<div class="nav flex-column nav-pills mb-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" routerLink="/posts" routerLinkActive="active" role="tab" aria-controls="v-pills-profile" aria-selected="false">Posts</a>
  <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" routerLink="/categories" routerLinkActive="active" role="tab" aria-controls="v-pills-messages" aria-selected="false">Categories</a>
  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" routerLink="/tags" routerLinkActive="active" role="tab" aria-controls="v-pills-settings" aria-selected="false">Tags</a>
  <a class="nav-link" href="#" (click)="logout($event)">Logout ({{getUsername()}})</a>
</div>
