<div class="card mb-3" [formGroup]="form">
  <h5 class="card-header">
    Publish
  </h5>
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-sm-4 pt-1">Status:</div>
      <div class="col-sm-8">
        <select class="form-control" formControlName="status" [ngClass]="{'is-invalid':!form.controls['status'].valid}">
          <option [value]="option.alias" *ngFor="let option of options">
            {{option.title}}
          </option>
        </select>
        <div class="invalid-feedback" *ngFor="let error of form.controls['status'].errors">{{error}}</div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
        <button class="btn btn-primary btn-block" (click)="create()">Save</button>
      </div>
    </div>
  </div>
</div>
