<div class="card mb-3">
  <h5 class="card-header">
    Tags
  </h5>
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-sm-7">
        <input type="text" class="form-control">
      </div>
      <div class="col-sm-5">
        <button class="btn btn-outline-secondary btn-block">Add</button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-12">
        <span class="tag-inline">Tag 1&nbsp;&nbsp;<i class="fas fa-times-circle"></i></span>
        <span class="tag-inline">Tag 2&nbsp;&nbsp;<i class="fas fa-times-circle"></i></span>
        <span class="tag-inline">Tag 3&nbsp;&nbsp;<i class="fas fa-times-circle"></i></span>
        <span class="tag-inline">Tag 4&nbsp;&nbsp;<i class="fas fa-times-circle"></i></span>
      </div>
    </div>
  </div>
</div>
